<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        
        <rewrite>
            <rules>
            <rule name="CanonicalHostNameRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^jamesconsulting\.biz$" />
                    </conditions>
                    <action type="Redirect" url="https://www.jamesconsulting.biz/{R:1}" />
                </rule>
                <rule name="LowerCaseRule1" enabled="true" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>   
            </rules>
            <outboundRules>
                <rule name="Remove Server Header" patternSyntax="Wildcard">
                    <match serverVariable="RESPONSE_Server" pattern="*" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
    <system.web>
        <httpCookies requireSSL="true" />
        <httpRuntime maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" enableVersionHeader="false" />
    </system.web>
</configuration>