<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
    <httpProtocol xdt:Transform="Insert">
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Content-Security-Policy" value="default-src 'none'; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com https://cdnjs.cloudflare.com/ajax/libs/; img-src 'self' www.google-analytics.com; object-src 'none'; script-src 'nonce-2726c7f26c' 'self' https://www.googletagmanager.com/gtag/js www.google-analytics.com https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/ https://ajax.googleapis.com/ajax/libs/ https://cdnjs.cloudflare.com/ajax/libs/ ajax.cloudflare.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdnjs.cloudflare.com/ajax/libs/;frame-src https://www.google.com/recaptcha/; manifest-src 'self';connect-src 'https://api-beta.jamesconsulting.biz/'" />
                <add name="Strict-Transport-Security" value="max-age=1000;" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="X-Permitted-Cross-Domain-Policies" value="master-only" />
            </customHeaders>
        </httpProtocol>
    <rewrite>
            <rules>
                <rule xdt:Transform="Insert" xdt:Locator="Match(name)" name="HTTP to HTTPS redirect" enabled="true" stopProcessing="true"> 
	                <match url="^(beta.jamesconsulting\.biz)(.*)"></match> 
	                <conditions> 
		                <add input="{HTTPS}" pattern="off" ignoreCase="true"></add>
	                </conditions> 
	                <action type="Redirect" redirectType="Permanent" url="https://beta.jamesconsulting.biz/{R:1}"></action>
                </rule>
                </rules>
                </rewrite>
    </system.webServer>
</configuration>